.playerBoard {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.playerBoard tr {
    display: flex;
}

.playerBoard thead {
    position: sticky;
    top:0px;
}

.playerBoard thead th {
    background-color: black;
    color:white;
}

.playerBoard td,.playerBoard th {
    padding:15px;
    text-align: center;
    border: 1px solid black;
}

.playerBoard tbody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.title {
    width:100%;
    text-align: center;
}


.rankColumn {

    width: 10%;
}
.nameColumn {
 
    width: 45%;
}
.scoreColumn {
    width: 45%;
}