* {
    box-sizing: border-box;
}
.mainContent{
    flex-grow:1;
    width:100%;
    max-width:1080px;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}