
.input {
    border: 1px solid hsl(0,0%,20%);
    border-radius: 5px;

    padding:10px;
    font-size:20px;
}

.formInput {
    padding:10px 0px;
}

.errorLabel {
    height:10px;
    padding:5px;
    display:block;
}