.button {
 font-weight:bold;
 padding: 10px;
 border-width:1px;
 border-style: solid;
 border-radius: 5px;
 cursor: pointer;
}

.button:disabled, .button.disabled {
    opacity:.6;
}

.button.primary {
    border-color: black;
    background-color:black;
    color: white;
}
.button.primary:hover{
    background-color: hsl(0, 0%, 20%);
}
.button.primary:active{
    background-color: hsl(0, 0%, 10%);
}

.button.secondary {
    border-color: black;
    background-color:white;
    color: black;
}

.button.secondary:hover{
    background-color: hsl(0, 0%, 85%);
}
.button.secondary:active{
    background-color: hsl(0, 0%, 90%);
}